.article-detail{
  margin:10px 0;
  .title{
    text-align: center;
    padding:10px 0;
    font-size:18px;
  }
  .intro{
    font-size:14px;
    padding:10px 0;
    color:#666;
  }
  .time{
    font-size:14px;
    padding:10px 0;
    margin:0 0 10px 0;
    color:#666;
    text-align:center;
    border-bottom:1px solid #d9d9d9;
    .ivu-icon{
      vertical-align: text-bottom;
    }
  }
  .ivu-card-body{
    position:relative;
    .collect{
      position:absolute;
      top:10px;
      right:10px;
      color:@primary-color;
      &:hover{
        cursor:pointer;
      }
    }
  }
  .comment{
    margin:20px 0 0 0;
    .comment-textarea{
      padding:20px 50% 10px 0;
      border-top:1px solid #d9d9d9;
    }
    .comments-list{
      padding:10px 0;
      .ivu-avatar{
        display:inline-block;
        vertical-align: middle;
      }
      .c-time{
        display:inline-block;
        vertical-align: middle;
        padding:0 0 0 20px;
        color:#666;
        font-size:12px;
      }
      p{
        padding:10px 0;
      }
      &:not(:last-child){
        border-bottom:1px dashed #d9d9d9;
      }
    }
    .ivu-page{
      text-align:center;
    }
  }
  /* table 样式 */
  table {
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
  }
  table td,
  table th {
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
    padding: 3px 5px;
  }
  table th {
    border-bottom: 2px solid #ccc;
    text-align: center;
  }

  /* blockquote 样式 */
  blockquote {
    display: block;
    border-left: 8px solid #d0e5f2;
    padding: 5px 10px;
    margin: 10px 0;
    line-height: 1.4;
    font-size: 100%;
    background-color: #f1f1f1;
  }

  /* code 样式 */
  code {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    background-color: #f1f1f1;
    border-radius: 3px;
    padding: 3px 5px;
    margin: 0 3px;
  }
  pre code {
    display: block;
  }

  /* ul ol 样式 */
  ul, ol {
    margin: 10px 0 10px 20px;
  }
}